<section class="mb-12">
  <h2 class="text-3xl font-semibold mb-2">Добро пожаловать в Sleep Media!</h2>
  <p>На этой странице мы можем увидеть последние статьи и карточки товаров.</p>
</section>

<section class="mb-12">
  <h3 class="text-2xl font-semibold mb-4">Статьи</h3>
  <%= render "articles/cards", articles: @articles %>
  <div class="mt-4">
    <%= link_to "Все статьи", articles_path, class: "text-teal-600 hover:underline" %>
  </div>
</section>

<section>
  <h3 class="text-2xl font-semibold mb-4">Товары</h3>
  <%= render "product_cards/cards", products: @products %>
</section>
